body {
	background-color: #F6F4EB;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400; 
	line-height: 1.6;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

h1 {
	color: #4682A9; 
	font-size: 32px;
	font-weight: 700; 
	line-height: 2;
	
}

h2 {
	color: #4682A9;
	font-weight: 700;
}

h3 {
	color: #4682A9;
	font-weight: 700;
}

h4 {
	color: #4682A9;
	font-weight: 700;
}

h5 {
	color: #4682A9;
	font-weight: 700;
}

h6 {
	color: #4682A9;
	font-weight: 700;
}

ul {
	list-style: none;
}

a {
	color: #749BC2;
}

a:visited {
	color: #91C8E4;
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
	color: #000000;
}

button {
	background-color: #4682A9;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	color: #F6F4EB;
	display: inline-block;
	font-family: inherit;
	padding: 10px;
	text-decoration: none; 
	-webkit-transition: opacity .2s; 
	-o-transition: opacity .2s; 
	transition: opacity .2s;  
}

.button {
	background-color: #4682A9;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	color: #F6F4EB;
	display: inline-block;
	font-family: inherit;
	padding: 10px;
	text-decoration: none; 
	-webkit-transition: opacity .2s; 
	-o-transition: opacity .2s; 
	transition: opacity .2s;  
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
	cursor: pointer; 
	opacity: 0.85; 
}

.button__secondary {
	background-color: #749BC2; 
	color: #F6F4EB;
}

div {
	margin: 10px; 
	padding: 10px;
	/* border: 1px solid black; */
}

.navigation__logo {

	left: 20px;
	position: relative; 
	top: 20px; 
	width: 50px;
} 

.profile__portrait {

	border-radius: 50%;
	float: left; 
	margin-right: 40px;
	width: 250px;
}

.page-footer {
	clear: both; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
	text-align: center;
}

.profile,
.about-info {
	
	margin: 0 auto; 
	max-width: 700px;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	padding: 20px;
	width: 100%;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px; 
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right; 
}

.navigation-list {
	list-style-type: none; 
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px; 
}

.navigation-list__item--active {
	text-decoration: none; 
}

.grid__item {
	display: inline-block;
	width: 33%; 
}

.project-screenshot {
	width: 100%;
}

@supports (display: grid) {
	.grid {
		display: -ms-grid;
		display: grid; 
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 20px; 
	}


	.grid__item {
		
		background-color: #D3D3D3;   
		margin: 0; 
		min-height: auto;
		width: auto;
	}

	.grid__item:last-child {
		-ms-grid-column: 3;
		    grid-column-start: 3;
		-ms-grid-column-span: 0;
		grid-column-end: 3; 
		-ms-grid-row: 1; 
		    grid-row-start: 1;
		-ms-grid-row-span: 2;
		grid-row-end: 3;
	}
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr; 
	}
}

@media all and (max-width: 750px) {
	.grid{
		grid-gap: 10px;
	}

	.grid__item:last-child {
		grid-column: auto / auto; 
		grid-row: auto / auto; 
	}

	h1 {
		font-size: 22px; 
	}
}

@-webkit-keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}
.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	        animation: 4s color-change infinite alternate linear; 
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear; 
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px); 
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px); 
	}
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	        animation: 34s cloud-move-reverse infinite alternate linear; 
}

















